<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Maze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5832D7E11C72F2FC00FCBFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5832D7F51C72F2FD00FCBFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5832D8001C72F2FD00FCBFD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
